<tr>
    <td>{{title}}</td>
    <td>{{publisher}}</td>
    <td>{{description}}</td>
    <td>{{price}}</td>
    <td>{{date}}</td>
    <td class="actionsTd" data-id="{{@index}}">
        <a href="#" class="readMore">[Read More]</a>
    </td>
</tr>