<section id="{{view}}" class="{{view}}">
<h1 class="titleForm">{{title}}</h1>
<form id="{{id}}" class="form">
    <input type="text" name="id" hidden/>
<div>Title:</div>
<div><input type="text" name="title" required /></div>
<div>Description:</div>
<div><textarea name="description" rows="10" required></textarea></div>
<div>Date Published:</div>
<div><input type="date" name="datePublished" required /></div>
<div>Price:</div>
<div><input type="number" step="0.01" name="price" required /></div>
<div>Image:</div>
<div><input type="text" name="image" required /></div>
<div><input type="button" id="{{button}}" value="{{btnValue}}" /></div>
</form>
</section>