<section id="{{view}}" class="{{view}}">
    <h1 class="titleForm">Please {{type}} here</h1>
    <form id="{{id}}" class="form">
        <div>Username:</div>
        <div><input type="text" name="username" required/></div>
        <div>Password:</div>
        <div><input type="password" name="passwd" required/></div>
        <div><input type="button" id="{{button}}" value="{{type}}"/></div>
    </form>
</section>