<section id="viewReadMore">
    <div id="more-info">
        <h1>{{title}}</h1>
        <div><img src="{{image}}" height="250" width="250"/></div>
        <p><label><strong>Description: </strong></label>{{description}}</p>
        <p><label><strong>Price: </strong></label>{{price}}</p>
        <p><label><strong>Publisher: </strong></label>{{publisher}}</p>
        <p><label><strong>Date: </strong></label>{{date}}</p>
        <a href="#" class="back">[Back]</a>
    </div>
</section>