{% extends 'base.html.twig' %}

{% block body %}
    <h1>Parts by Car</h1>
    {% if car %}
        <h3>{{ car.make }} {{ car.model }}</h3>
        <p>Travelled distance: {{ car.travelledDistance }}</p>
        <table border="1">
            <thead>
            <tr>
                <th>Part Name</th>
                <th>Price</th>
            </tr>
            </thead>
            {% for part in parts %}
                <tr>
                    <td>{{ part.name }}</td>
                    <td>{{ part.price }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No car with such id.</p>
    {% endif %}
{% endblock %}

