{{> header}}
{{> menu}}
<section id="viewProfile">
    <div class="content">
        <div class="chirper">

            <h2 class="titlebar">{{username}}</h2>

            {{#if followed}}
                <a id="btnFollow" class="chirp-author" href="#/unfollow/{{username}}">Unfollow</a>
            {{else}}
                <a id="btnFollow" class="chirp-author" href="#/follow/{{username}}">Follow</a>
            {{/if}}
            <div id="userProfileStats" class="user-details">
                {{> stats}}
            </div>
        </div>
        <div id="profileChirps" class="chirps"><h2 class="titlebar">Chirps</h2>
            {{#each chirps}}
                {{> chirp}}
            {{else}}
                <p>No chirps in database</p>
            {{/each}}
        </div>
    </div>
</section>
{{> footer}}